
#----------------Demo--------------------------
source s_iislog { udp(ip(0.0.0.0) port(5145)); };


template t_iislog { template ("date=${date},time=${time},s-ip=${s-ip},cs-method=${cs-method},cs-uri-stem=${cs-uri-stem},cs-uri-query=${cs-uri-query},s-port=${s-port},cs-username=${cs-username},c-ip=${c-ip},user-agent=${user-agent},referer=${referer},sc-status=${sc-status},sc-substatus=${sc-substatus},sc-win32-status=${sc-win32-status},time-taken=${time-taken},X-Forwarded=${X-Forwarded}\n"); template_escape(no);};

parser p_iislog { csv_parser(columns("one","date","time","s-ip","cs-method","cs-uri-stem","cs-uri-query","s-port" ,"cs-username","c-ip","user-agent","referer","sc-status","sc-substatus","sc-win32-status","time-taken","X-Forwarded") delimiters(" ") ); };

destination d_iislog { file("/var/log/syslog-ng/iis-log/$YEAR-$MONTH-$DAY.txt" create_dirs(yes) perm(0755) dir_perm(0755) template(t_iislog)); } ;

log { source(s_iislog); parser(p_iislog); destination(d_iislog); };

#destination db_iislog {
#  sql
#        (
#        type(mysql) username("webuser") password("Passw0rd#") database("XP_NDF_DB")host("localhost") port("3306") table("IISLog")
#        columns("Date","Time","S_IP","CS_Method","CS_Uri_Stem","CS_Uri_Query","S_Port" ,"CS_UserName","C_IP","User_Agent","Referrer","SC_Status","SC_Sub_Status","SC_Win32_Status","Time_Taken","X_Forwarded")
#        values("${date}","${time}","${s-ip}","${cs-method}","${cs-uri-stem}","${cs-uri-query}","${s-port" ,"${cs-username}","${c-ip}","${user-agent}","${referer}","${sc-status}","${sc-substatus}","${sc-win32-status}","${time-taken}","${X-Forwarded}")
#        );
#};

#log { source(s_iislog); parser(p_iislog); destination(db_iislog); };



#----------------Test--------------------------
destination d_xp_ndf_db_iislog {
  sql
	(
	type(mysql) username("webuser") password("Passw0rd#") database("XP_NDF_DB")host("localhost") port("3306") table("IISLog")
	columns("Date","Time","SiteName","ComputerName","SIP","Method","UriStem","UriQuery","Port","CSUserName","ClientIP","CSVersion","UserAgent","Referer","CSHost","StatusCode","SubStatusCode","Win32Status","TimeTaken")
	values("${date}","${time}","${s-sitename}","${s-computername}","${s-ip}","${cs-method}","${cs-uri-stem}","${cs-uri-query}","${s-port}","${cs-username}","${c-ip}","${cs-version}","${user-agent}","${referer}","${cs-host}","${sc-status}","${sc-substatus}","${sc-win32-status}","${time-taken}")
	);
};


log { source(s_iislog); parser(p_iislog); destination(d_xp_ndf_db_iislog); };